<config template="project (default)" platform="project">Created: Thu Dec 18 18:12:51 2014
By: Ahmed Saleh
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="spaceinvader" fromDef="true" name="name"/>
    <option value="spaceinvader" fromDef="true" name="caption"/>
    <option value="Ahmed Saleh" fromDef="true" name="provider"/>
    <option value="(C) Ahmed Saleh" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
